.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.content-area {
  height: 100%;
  width: calc(100% / 12 * 10);
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
}
.resizable-div {
  min-height: 50px;
  border: 1px solid #ddd;
  position: relative;
}

.grabber {
  content: "";
  position: absolute;
  bottom: 0;
  margin-left: -15px;
  cursor: row-resize;
  height: 5px;
  width: 100%;
  border-top: 1px solid #f1f1f1;
  overflow: hidden;
  background-color: #eff0f1;
  background-position: 210px -364px;
  background-size: initial;
  background-repeat: no-repeat;
}
.sidebar {
  height: 100%;
  width: calc(100% / 12 * 2);
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td,
:host
  ::ng-deep
  .p-datatable.p-datatable-gridlines
  .p-datatable-thead
  > tr
  > th {
  padding: 0.6rem 0.7rem;
  font-size: 0.9rem;
}
