<div>
  <p-table [value]="currencies">
    <ng-template pTemplate="header">
      <tr>
        <th>Kur</th>
        <th>Ad</th>
        <th>Fiyat</th>
        <th>Değişim</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-currency>
      <tr>
        <td>{{ currency.s }}</td>
        <td>{{ getCurrenyName(currency) }}</td>
        <td [ngClass]="getColor(currency)">{{ currency.c }}</td>
        <td>
          <i [ngClass]="getIconColor(currency)" style="font-size: 1.5rem"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
